<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none"> <!-- если будут запускаться несколько устройств parallel должен быть true -->
    <test name="/Users/janbolot/QA/Ideaprojects/mobileQA/TDD_Framework_Example">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="14"/>
        <parameter name="deviceName" value="Pixel_5"/>
        <classes>
            <class name="com.qa.tests.LoginTests"/>
        </classes>
    </test>
</suite>


<!--При надобности можно добавить еще тестовый блок с другим девайсом если необходимо запустить на разных устройствах-->
<!--<test name="/Users/janbolot/QA/Ideaprojects/mobileQA/TDD_Framework_Example">-->
<!--<parameter name="platformName" value="Android"/>-->
<!--<parameter name="platforVersion" value="15"/>-->
<!--<parameter name="deviceName" value="Samsung_S22"/>-->
<!--<classes>-->
<!--    <class name="qa.mobile.TestExample"/>-->
<!--</classes>-->
<!--</test>-->



